.sidebar {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  height: 99vh;
  width: 15rem;
  margin-left: 0.4rem;
  padding: 1.2rem;
}

.sidebar .logo {
  display: flex;
}

.logo a {
  color: white;
}

.logo img {
  margin-right: 0.3rem;
}

.navigation {
  display: flex;
}

.list__items {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.list__items li {
  margin-bottom: 0.8rem;
}
