@import "tailwindcss";

@theme {
  --font-header: "Slackey", sans-serif;
  --font-sans: "Sofia Sans", sans-serif;
}


@layer components {
  .bg-image-shadow {
    box-shadow: 16px 16px 4px rgba(162, 89, 255, 0.25);
  }

  .shadow-skill {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

}